@media (max-width: 1300px) {
  .treatment_section .side_img {
    opacity: 0.2;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }
.knw{
  margin-bottom: 18px;
}
  .header_section {
    margin-top: 0;
  }

  .header_section .header_top .contact_nav {
    justify-content: space-between;
  }

  .quote_btn-container {
    flex-direction: column;
    align-items: center;
    max-width: 110px;
    margin-left: 35%;
    margin-right:35%;
  }

  .quote_btn-container a {
    margin-right: 0;
    margin-top: 10px;
  }

  .slider_section {
    padding: 75px 0 125px 0;
  }


  .client_section .box {
    margin: 15px;
  }

  .client_section .carousel_btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    margin: 0 2.5px;
    width: 45px;
    height: 45px;
  }

  .info_section .info_main_row>div {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .about_section .detail-box {
    margin-top: 45px;
  }
  .knw{
    margin-bottom: 18px;
  }

  .slider_section .dot_design {
    opacity: 0.4;
  }

  .team_section .team_carousel {
    padding: 0;
  }

  .team_section .team_carousel .owl-nav {
    margin-top: 45px;
  }

  .team_section .team_carousel .owl-nav button {
    position: unset;
    transform: none;
  }

  .contact_section .form_container {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .info_section .info_main_row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info_section .info_main_row>div:nth-last-child(1) {
    margin-bottom: 0;
  }

  .info_section .info_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .social_box {
    justify-content: center;
  }

  .info_section .info_post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_post .post_box {
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_post .post_box .img-box {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .header_section .header_top .contact_nav a {
    margin-right: 0;
  }
  .knw{
    margin-bottom: 18px;
  }

  .header_section .header_top .contact_nav a span {
    display: none;
  }

  .header_section .header_top .contact_nav a i {
    font-size: 28px;
    margin: 0;
  }

  .treatment_section .side_img {
    display: none;
  }

  .info_section .info_top {
    flex-direction: column;
  }

  .info_section .info_top .info_logo {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {
  .slider_section .detail_box h1 {
    font-size: 2.5rem;
  }
  .knw{
    margin-bottom: 18px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 770px) {
  .header_top {
    display: none;
  }
}